.preloader {
  position: fixed;
  inset: 0;// sets top,bottom,left and right to 0
  background: #0e1b2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 1s ease forwards;
  animation-delay: 2.4s;
}
.spinner {
  width: 48px;
  height: 48px;
  border: 3px solid rgba(255,255,255,0.2);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.loading-text {
  display: flex;
  margin-top: 20px;
  perspective: 600px;

  span {
    font-family: helvetica,sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;


    /* Silver gradient */
    background: linear-gradient(
      120deg,
      #f5f5f5,
      #cfcfcf,
      #ffffff,
      #bdbdbd
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Depth + shine */
    text-shadow:
      0 1px 1px rgba(255, 255, 255, 0.35),
      0 -1px 1px rgba(0, 0, 0, 0.25),
      0 0 6px rgba(255, 255, 255, 0.25);

    opacity: 0;
    transform-style: preserve-3d;
  animation:
    letterMove 1.5s ease-in-out infinite,
    shine 2.6s linear infinite;    

  }
}

/* Key frames animations*/
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
@keyframes letterMove {
  0% {
    opacity: 0;
    transform: translateX(-12px) rotate(-10deg);
  }
  30% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
  60% {
    opacity: 1;
    transform: translateX(8px) rotate(8deg);
  }
  100% {
    opacity: 0;
    transform: translateX(16px) rotate(12deg);
  }
}
@keyframes letterMove {
  0% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  30% {
    opacity: 1;
    transform: rotateY(0deg);
  }

  60% {
    opacity: 1;
    transform: rotateY(0deg);
  }

  100% {
    opacity: 0;
    transform: rotateY(90deg);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}


// responsive styles
@media (max-width: 768px) {
  .loading-text span {
    animation-duration: 1.1s;
  }

  @keyframes letterMove {
    0% {
      opacity: 0;
      transform: rotateY(-60deg);
    }
    100% {
      opacity: 0;
      transform: rotateY(60deg);
    }
  }
}
