// Reset Styles

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Variables
:root{
    --primary: #0e1b2c;
  --secondary: #ff5a3c;
  --text-dark: #1c1c1c;
  --text-light: #ffffff;
  --bg-light: #f7f9fc;
}

// base styles
body{
    font-family: 'Inter',sans-serif;
    background: var(--bg-light);
    color: var(--text-dark);
    overflow-x: hidden;
}