.clients-section{
    padding: 120px;
    background:radial-gradient(circle at 10% 30%, rgba(238, 160, 63, 0.25), transparent 40%),
    radial-gradient(circle at 20% 40%, rgba(242, 242, 242, 0.2), transparent 40%),
    radial-gradient(circle at 20% 40%, rgba(242, 242, 242, 0.2), transparent 40%),
  radial-gradient(circle at 85% 75%, rgba(238, 160, 63, 0.25), transparent 40%),
  #f3f3f3;
}
.section-header {
  text-align: center;
  margin-bottom: 100px;
}

.section-pill {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 999px;
  font-size: var(--fs-body);
  color: var(--accent);
  border: 1.5px solid var(--accent);
  margin: 16px auto;
}
.section-header h2 {
  font-size: var(--fs-h3);
  font-weight: 500;
  letter-spacing: 1.2px;
  color: var(--text-secondary);
}

.clients-row-1,.clients-row-2{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
.client{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 2px 4px 10px #cccccc79;
}