<section class="clients-section">
    <div class="container">
        <div class="section-header">
            <span class="section-pill">PARTNERS</span>
            <h2>With The Global Leading Clients</h2>
        </div>
        <div class="clients">
            <div class="clients-row-1">
                <div class="client"></div>
                <div class="client"></div>
                <div class="client"></div>
                <div class="client"></div>
            </div>
            <div class="clients-row-1">
                <div class="client"></div>
                <div class="client"></div>
                <div class="client"></div>
            </div>
        </div>
    </div>
</section>