.services-section {
  padding: var(--section-padding);
  background: var(--bg-main);
}

.section-header {
  text-align: center;
  margin-bottom: 80px;
}

.eyebrow {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 999px;
  font-size: var(--fs-body);
  color: var(--accent);
  border: 1.5px solid var(--accent);
  margin: 16px auto;
}

.section-header h2 {
  font-size: var(--fs-h3);
  font-weight: 500;
  letter-spacing: 1.2px;
  color: var(--text-secondary);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 36px;
}

.service-card {    
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  border-radius: 18px;
  padding: 36px 28px;  
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.35s ease;
}

.service-card:hover {
    border: 1px solid var(--accent);
  transform: translateY(-8px);
  box-shadow: 0 24px 50px rgba(0, 0, 0, 0.08);
}

.service-icon {
  width: 56px;
  height: 56px;
  border-radius: 14px;
  background: #f5f6f8;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  margin:30px auto;

  transition: transform 0.35s ease;
}

.service-card:hover .service-icon {
  transform: rotate(30deg)
}

.service-title {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 15px auto;
  text-align: center;
  color: var(--text-secondary);
}

.service-desc {
  font-size: var(--fs-body);
  color: var(--text-secondary);
  line-height: 1.7;
  text-align: center;
}
// Read more btn
.readmore-btn{
  margin-top: auto;
  display: flex;
  justify-content: center;

}
.service-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  margin-top: 22px;

  font-size: var(--fs-small);
  font-weight: 500;
  color: var(--text-primary);
  text-decoration: none;

  transition: color 0.3s ease;
}

/* Circle */
.service-link .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--text-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.3s ease;
}

/* Arrow inside */
.service-link .arrow {
  font-size: 2rem;
  transform: translateX(-12px);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover behavior */
.service-link:hover {
  color: var(--accent);
}

.service-link:hover .circle {
  border-color: var(--accent);
  transform: translateX(4px);
}

.service-link:hover .arrow {
  transform: translateX(-5px);
}

@media (max-width: 768px) {
  .services-grid {
    justify-content: center;
  }

  .service-card {
    width: 100%;
    max-width: 360px;
    justify-content: center;
  }
}