/* You can add global styles to this file, and also import other style files */
// Reset Styles

// Base reset
*,*::before,*::after{
    box-sizing: border-box;
}

:root {
  /* Colors – Antux Light */
  --bg-main: #E7EBEF;
  --bg-section: #ffffff;
  --text-primary: #2a1b0f;
  --text-secondary: #64748b;
  --accent: #F02624;
  --theme-color1:#0038B3;
  --theme-color2:#48AB3F;

  --fs-h1: clamp(2.2rem, 5vw, 3.8rem);
  --fs-h2: clamp(1.8rem, 4vw, 2.8rem);
  --fs-h3: clamp(1.4rem, 3vw, 2rem);

  --fs-body: 1rem;
  --fs-small: 0.875rem;

  --lh-heading: 1.15;
  --lh-body: 1.7;
--ls-heading: -0.02em;

  /* Typography */
  --font-main: 'Poppins', system-ui, sans-serif;

  /* Layout */
  --container-width: 1140px;
  --section-padding:80px 120px;
}

/* =========================
   GLOBAL BASE STYLES
========================= */

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-size: clamp(14px, 1.2vw, 16px);
  background-color: var(--bg-main);
}

body {
  font-family: var(--font-main);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--text-primary);

  overflow-x: hidden;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  font-weight: 700;
  line-height: var(--lh-heading);
  letter-spacing: var(--ls-heading);
  margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }