.portfolio-section {
    padding: var(--section-padding);
    background-color: #ecf0f4;
}

.section-header {
    margin-bottom: 80px;
    text-align: center;
}

.section-header .eyebrow {
    display: inline-block;
    padding: 6px 18px;
    border: 1.5px solid var(--accent);
    border-radius: 999px;
    font-size: var(--fs-body);
    color: var(--accent);
    margin: 16px auto;
}

.section-header h2 {
    font-size: var(--fs-h3);
    font-weight: 500;
    letter-spacing: 1.2px;
    color: var(--text-secondary);
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    justify-content: center;
    padding-bottom: 80px;
}

.works-card {
    background: #fff;
    padding: 10px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.05);

}

.work-icon {
    overflow: hidden;

    img {
        border-radius: 5px;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}

.work-skills {
    padding:20px;
    display: flex;
    gap: 20px;

    .skill-1,
    .skill-2 {
        padding: 4px 15px;
        align-self: center;
        border-radius: 999px;
        border: 1px solid var(--accent);
    }

    :last-child {
        margin-left: auto;
    }

    .gotowork-btn {

        background-color: var(--accent);
        padding: 10px;
        border-radius: 50%;
        align-self: center;
        cursor: pointer;
        transition: all 0.3s ese;

        &:hover {
            box-shadow: 0 24px 50px rgba(0, 0, 0, 0.3);
        }
    }

    .gotowork-arrow {
        width: 20px;
        height: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;

        background: rgba(255, 255, 255, 0);
        position: relative;
        z-index: 2;
        transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .gotowork-btn:hover .gotowork-arrow{
        transform: translate(4px,-4px);
  transition: transform 0.3s ease-out;
    }
}
.work-title{
    padding:0px 20px 20px;
    font-weight: 500;
    font-size: 1.25rem;
}

// Top Skills Styles

.skills-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
  align-items: end;
  justify-content: center;
}

.skill-card {
  background: #fff;
  border-radius: 70px;
  padding: 40px 20px 50px;
  text-align: center;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);

  /* 🔒 Initial hidden state */
  opacity: 0;
  transform: translateY(24px);

  transition:
    opacity 0.6s ease,
    transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);

  transition-delay: var(--delay);
  .skill-icon{
    max-width: 50px;
    margin: 0 auto;
    img{
        width: 100%;
    }
  }  
  .skill-percent{
    font-size: 1.75rem;
    font-weight: 500;
  }
  .skill-name{
    font-size: 1.25rem;
  }
}
.skill-card:nth-child(2),
.skill-card:nth-child(4),
.skill-card:nth-child(6) {
  min-height: 350px;
}

/* Visible state */
.skill-card.in-view {
  opacity: 1;
  transform: translateY(0);
}


/* Mobile */
@media (max-width: 576px) {
  .skill-grid{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }  
  .skill-card{
    padding: 30px 15px 40px;
  }
  .skill-icon img{
    width: 80%;
  }  
}

@media (max-width: 768px) {
 .skill-card:nth-child(2),
.skill-card:nth-child(4),
.skill-card:nth-child(6) {
  min-height: 280px;
}
}
// /* Small laptop */
// @media (max-width: 992px) { 
//     .skills-grid{
//   grid-template-columns: repeat(4, 1fr);
// }
// }

/* Desktop */
